# PartyKit
# You need to add this in Vercel for prod, but not for local development
# falls back to the partykit default of localhost:1999 for local development
NEXT_PUBLIC_PARTY_HOST=""

###################################################################################
# 🚨 VARIABLES BELOW SHOULD GO IN PARTYKIT, THEY'RE NOT ACTUALLY NEEDED IN .env 🚨 #
###################################################################################

# Drizzle
# Get the Database URL from the "prisma" dropdown selector in PlanetScale. 
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL=''

# Axiom
# ------------------------------
# The name of your dataset in Axiom
AXIOM_DATASET=""
# You Axiom API Token
AXIOM_TOKEN=""
# Your Axiom Org ID
# You can find this in the top left of the settings menu
# It's the one that you can add to clipboard, it has a 4 digit hash at the end
AXIOM_ORG_ID=""